<link href="https://fonts.googleapis.com/css?family=Open sans" rel="stylesheet">

body {
font-family:"open sans, sans-serif";

}

table{
	width:100%;
}


table, td, tr {
border-spacing: 0px;
border: 1px solid #dddddd;
}
.feedbackimage {
	position: absolute;
	height: 18px;
	width: 19px;
	padding: 1px 0 0 0;
}
form {
	line-height: 20	px;
	vertical-align: middle;
	margin-right: 30px;
}
.upper {
	font-size: .7em;
	vertical-align: 45%;
}
.lower {
	font-size: .7em;
	vertical-align: -25%;
}
#margin {
	float: left;
	margin-top: 4px;
}
.tjekSvar {
	float: left;
	margin: 10px 0 0 4px;
}
input {
	margin-right: 5px;


}

.radio input[type=radio] {
	margin-left: -17px;
}
.answer {
	line-height: 1.4em;
	margin: .3em 0;
	display: inline-block;
	margin-left: 20px;
}
.title td {
	background-color: #48B3B7;
	padding: 5px !important;
	color: #FFFFFF;
}

/* Radiobuttons */

.radio td {
	padding: 5px 5px 24px 5px;
}

/* Dropdown */
.dropdown td {
	padding: 5px;
}
.dropdown .feedbackimage {
	position: absolute;
	padding: 1px 0 0 3px;
}
.dropdown form {
	line-height: 20	px;
	vertical-align: middle;
	margin-right: 30px;
}
.dropdown #margin {
	float: left;
	margin-top: 4px;
}
.dropdown .tjekSvar {
	float: left;
	margin: 10px 0 0 4px;
}

